<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntsed.api.dao.UserInfoMapper">
<!-- author: セツ
  date:2023/12/19  -->

   <select id="getMaxId" resultType="java.lang.Integer">
        SELECT MAX(EMPLOYEE_ID)+1 FROM T_EMPLOYEE
    </select>


   <select id="findAll" resultType="com.ntsed.api.entity.UserInfo">
        SELECT * FROM T_EMPLOYEE WHERE DEL_FLG = 0
    </select>
    <select id="findById" resultType="com.ntsed.api.entity.UserInfo">
        SELECT * FROM T_EMPLOYEE WHERE EMPLOYEE_ID=#{employeeId} AND WHERE DEL_FLG = 0
    </select>

	<insert id="save">
		INSERT INTO T_EMPLOYEE
		(
		EMPLOYEE_NAME,
		DEPT_ID,
		DEL_FLG,
		GENDER_ID,
		EMPLOYEE_TEL,
		ENTRY_DATE,
		EMPLOYEE_AGE,
		EMPLOYEE_MAIL,
		CREATE_DATE,
		CREATE_USER)
		VALUES
		(
		#{employeeName},
		#{deptId},
		#{delFlg},
		#{genderId},
		#{employeeTel},
		#{entryDate},
		#{employeeAge},
		#{employeeMail},
		CURRENT_TIMESTAMP,
		#{loginUser}

		)
	</insert>
	<update id="update">
		UPDATE T_EMPLOYEE SET EMPLOYEE_NAME = #{employeeName}, DEPT_ID = #{deptId},
		GENDER_ID = #{genderId},
		EMPLOYEE_TEL =#{employeeTel},
		ENTRY_DATE
		=#{entryDate},
		EMPLOYEE_AGE =#{employeeAge},
		EMPLOYEE_MAIL
		=#{employeeMail},
		UPDATE_USER= #{loginUser}, UPDATE_DATE = CURRENT_TIMESTAMP WHERE EMPLOYEE_ID =
		#{employeeId}
	</update>


</mapper>