<!--
*
*　author: 高根沢
*  date:2023/12/15
*
-->

<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>勤怠管理システム - 社員一覧</title>
	<!-- タイトル以外のスタイルやライブラリを追加する場合は、ここに追加 -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="container mt-5">
		<h2>社員一覧</h2>

		<form class="form-inline mb-3">
			<div class="form-group mr-2">
				<label for="inputEmployeeID">社員ID</label>
				<input type="text" class="form-control" id="inputEmployeeID" placeholder="社員ID">
			</div>

			<div class="form-group mr-2">
				<label for="inputJoinDate">入社年月日</label>
				<input type="date" class="form-control" id="inputJoinDate">
			</div>

			<div class="form-group mr-2">
				<label for="selectDepartment">所属</label>
				<select class="form-control" id="selectDepartment">
					<option value="0.管理部">管理部</option>
					<option value="1.人事部">人事部</option>
					<option value="2.開発部">開発部</option>
					<option value="3.営業部">営業部</option>
				</select>
			</div>
		</form>


		<div>
			<a th:href="@{/user/{EMPLOYEE2_ID}/search}"><button type="submit" class="btn btn-secondary">検索</button></a>
		</div>

		<div>
			<a th:href="@{/user/{EMPLOYEE2_ID}/delete}"><button type="submit" class="btn btn-secondary">削除</button></a>
		</div>

		<div>
			<a th:href="@{/useredit/{EMPLOYEE_Test_ID}/edit}"><button type="submit"
					class="btn btn-secondary">更新</button></a>
		</div>

		<div>
			<a th:href="@{/close}"><button type="submit" class="btn btn-secondary">閉じる</button></a>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>社員ID </th>
					<th>入社年月日</th>
					<th>氏名</th>
					<th>性別</th>
					<th>年齢</th>
					<th>所属</th>
					<th>メールアドレス</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="T_EMPLOYEE : ${userlist}" th:object="${T_EMPLOYEE}" class="align-middle">
					<td th:text="*{T_EMPLOYEE.T_EMPLOYEE}"></td>
					<td th:text="*{T_EMPLOYEE.ENTRY_DATE}"></td>
					<td th:text="*{T_EMPLOYEE.EMPLOYEE_NAME}"></td>
					<td th:text="*{T_EMPLOYEE.GENDER_ID}"></td>
					<td th:text="${T_EMPLOYEE.EMPLOYEE_AGE}"></td>
					<td th:text="${T_EMPLOYEE.DEPT_ID}"></td>
					<td th:text="${T_EMPLOYEE.EMPLOYEE_MAIL}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- タイトル以外のスクリプトやライブラリを追加する場合は、ここに追加 -->
</body>

</html>