<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<!--author: セツ
 　date:2023/12/14-->
<body>
	<form th:action="@{/add}" th:object="${employee}" method="post">
		<div>
			<label for="name">氏名*</label> 
			<input type="text" th:field="*{employeeName}">
		</div>
		<div>
			<label for="department">所属*</label> 
			<select th:field="*{deptId}">
				<option value="なし">選択してください</option>
				<option value="0.管理部">0.管理部</option>
				<option value="1.人事部">1.人事部</option>
				<option value="2.開発部">2.開発部</option>
				<option value="3.営業部">3.営業部</option>
			</select>
		</div>
		<div>
			<label for="gender">性別*</label> 
			<input type="radio" name="gender" th:field="*{genderId}" value="未確認">未確認
			<input type="radio" name="gender" th:field="*{genderId}" value="男">男
			<input type="radio" name="gender" th:field="*{genderId}" value="女">女
		</div>
		<div>
			<label for="tel">電話番号*</label> 
			<input type="text" th:field="*{employeeTel}">
		</div>
		<div>
			<label for="entry">入社年月日</label> 
			<input type="date" th:field="*{enteyDate}">
		</div>
		<div>
			<label for="age">年齢</label> 
			<input type="number" th:field="*{employeeAge}" min="1" max="100">歳
		</div>
		<div>
			<label for="mail">メールアドレス*</label> 
			<input type="text" th:field="*{employeeMail}">
		</div>
		<input type="submit"" value="登録">
		<input type="submit"" value="修正">
		<input type="submit"" value="閉じる">

	</form>
</body>
</html>