@charset "UTF-8";

body {
	margin-top:  3%;
	margin-right: 7%;
	margin-left: 7%;
}

.kensaku {
	width: 150px;
	padding: 8px;
	box-sizing: border-box;
	cursor: pointer;
}

.hed {
	display: flex;
	justify-content: space-between;

}

.button3 {
	justify-content: flex-end;
	display: flex;
}

.sakujo {
	margin-right: 1em;
	margin-left: 1em;
}

.kousin {
	margin-right: 1em;
	margin-left: 1em;
}

.tojiru {
	margin-left: 1em;
}

.list-scroll {
	max-height: 728px;
    overflow-y: scroll;
	margin-top: 1%;
	margin-bottom: 4%
}